@model TotalPortal.Areas.Commons.ViewModels.Helpers.ICommodityClassDropDownViewModel

<div class="form-group">
    @Html.LabelFor(model => model.CommodityClassID)
    <div class="div-input">
        @Html.Kendo().DropDownListFor(m => m.CommodityClassID).BindTo(Model.CommodityClassSelectList).HtmlAttributes((ViewData["CommodityClassReadonly"] != null && (bool)ViewData["CommodityClassReadonly"] == true ? (object)new { @class = "left-panel-input", @readonly = "readonly" } : (object)new { @class = "left-panel-input" }))
    </div>
    <div class="div-validation-message">
        @Html.ValidationMessageFor(model => model.CommodityClassID, "", new { @class = "text-danger" })
    </div>
</div>

