

<div class="fileUpload k-button" style="margin-right: 0px;">
    <img style="width:28px; height:28px" src="~/Content/Images/New/excel-icon.png" />
    <span>Import</span>
    <input type="file" name="xlfile" id="xlf" class="upload" />
</div>

<label style="max-width:300px;" id="uploadFile" disabled="disabled" ></label>


<script type="text/javascript">
    document.getElementById("xlf").onchange = function () {
        if (this.files.length > 0) {            
            $("#uploadFile").text(this.files[0].name);
        }
    };
</script>