@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<GoodsReceiptPendingPlannedOrder>()
    .Name("goodsReceiptPendingPlannedOrderGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.PlannedOrderReference).Title("KHSX").Width(38);
        columns.Bound(c => c.PlannedOrderCode).Title("Số CT").Width(38);
        columns.Bound(c => c.PlannedOrderEntryDate).Title("Ngày KHSX").Width(55).Format("{0:" + Settings.DateFormat + "}");
        columns.Bound(c => c.CustomerCode).Title("Mã KH").Width(68);
        columns.Bound(c => c.CustomerName).Title("Tên KH").Width(140);
        columns.Bound(c => c.PlannedOrderCaption).Title("Mặt hàng").Width(250);        
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập số KHSX hoặc mã, tên khách hàng</label>
                <input id="goodsReceiptPendingPlannedOrderFilter" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="goodsReceiptPendingPlannedOrderFilter_KeyUp()" />
            </div>
        </text>);
    })
        .Scrollable(s => s.Height(Settings.PopupContentHeight))
        .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetPlannedOrders", "GoodsReceiptAPIs", new { area = "Inventories" }).Data("onAdditionalGetPurchaseRequisitions"))
            .ServerOperation(false)
        )
        .Selectable()
)

<script type="text/javascript">
    function onAdditionalGetPurchaseRequisitions(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID
        };
    }

    function goodsReceiptPendingPlannedOrderFilter_KeyUp() {
        var goodsReceiptPendingPlannedOrderFilter = $("#goodsReceiptPendingPlannedOrderFilter").val(), gridDetails = $("#goodsReceiptPendingPlannedOrderGrid").data("kendoGrid");

        if (goodsReceiptPendingPlannedOrderFilter && goodsReceiptPendingPlannedOrderFilter.length >= "@Settings.AutoCompleteMinLenght") {
            gridDetails.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "PlannedOrderCode", operator: "contains", value: goodsReceiptPendingPlannedOrderFilter },
                    { field: "CustomerCode", operator: "contains", value: goodsReceiptPendingPlannedOrderFilter },
                    { field: "CustomerName", operator: "contains", value: goodsReceiptPendingPlannedOrderFilter }
                ]
            });


        } else {
            if (gridDetails.dataSource.filter() != undefined)
                gridDetails.dataSource.filter({});
        }
    }

    $("#goodsReceiptPendingPlannedOrderGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>

